/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Choose ONE theme system

// If you're using legacy components:
@include mat.legacy-core();
$my-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  )
));
@include mat.all-legacy-component-themes($my-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
    background: #e67e22;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}
