/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Choose ONE theme system

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-indigo-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette),
  )
));

html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
    background: #e67e22;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    z-index: 99;
}
