:host{
    height: 100%;
    ::ng-deep .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    #bookmark_button ::ng-deep .mat-button-wrapper {
        writing-mode: vertical-rl;
    };

    button {
        margin: 0;
        padding: 0;
        min-width: 0;
        height: 130px !important;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        display: flex;
        margin: auto 0;
        background: var(--primary-40);
        color: var(--primary-90);
        min-width: 28px;
        max-width: 28px;
        position: fixed;
        top: 16%;
        z-index: 9999;
    ::ng-deep span {
            margin: auto;
            writing-mode: vertical-lr;
        }
    };

    .container {
        height: 100%;
        color: var(--primary-90) !important;
        mat-sidenav div {
            color: var(--primary-90) 
        }
    };

    .toggle-container {
        display: flex;
        background-color: var(--primary-05);
        color: var(--primary-90);
    };

    ::ng-deep .mat-drawer-inner-container {
        background-color: var(--primary-05);
        display: flex;
        flex-direction: column;
        height: calc(100% - 60px) !important;    
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        div {
            margin: auto;
            width: 81%;
            height: 100%;
            display: flex;
            border: 1px solid var(--nutral-30);
            border-radius: 5px;
            cursor: pointer;
            padding: 0 8px;
            justify-content: center;
            flex-direction: column;
        }
    };

    mat-sidenav div {
        // --color-base: #ec750d;
        background: var(--primary-10);
        &:hover {
            background: var(--primary-20);
            opacity: .8;
        }
        &.active {
            background: var(--primary-20);
            border: 1px solid var(--primary-70);
        }
    }

    ::ng-deep .mat-drawer {
        height: 100vh;
    }
};